@import "./vars.css";

.App{
    background-color:var(--color-lightbg) ;
    width: 100vh;
    height: 100vh;
}
.navbar{
    background-color: var(--color-navbg);
    color: var(--color-text);
}
.Appdark{
    background-color:var(--color-darkbg) ;
    width: 100%;
    height: 100vh; 
    margin-bottom: 0;  
}
